{% if site.data.abstracts %}
<section class="section publications-section">
    <div class = "panel-group" id = "accordion">
  <h2 class="section-title"><i class="fa fa-file-text"></i>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Abstracts</a></h2>

    <div id = "collapse5" class = "panel-collapse collapse">
  {% if site.data.abstracts.intro %}
  <div class="intro">
      <p>{{ site.data.abstracts.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for abstract in site.data.abstracts.abstracts %}
    <div class="item">
      <div class="publication-title">{{ abstract.title }}</div>
      <div class="publication-authors">{{ abstract.authors }}</div>
      <div class="publication-conference">{{ abstract.conference }}</div>
    </div><!--//item-->
  {% endfor %}
    </div>
</section><!--//section-->
{% endif %}
