{% if site.data.presentations %}
<section class="section publications-section">
    <div class = "panel-group" id = "accordion">
  <h2 class="section-title"><i class="ii ii-presenter"></i>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Oral Presentations</a></h2>
    <div id = "collapse4" class = "panel-collapse collapse">
  {% if site.data.presentations.intro %}
  <div class="intro">
      <p>{{ site.data.presentations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for presentation in site.data.presentations.presentations %}
    <div class="item">
      <div class="publication-title">{{ presentation.title }}</div>
      <div class="publication-authors">{{ presentation.authors }}</div>
      <div class="publication-conference">{{ presentation.conference }}</div>
    </div><!--//item-->
  {% endfor %}
    </div>
</section><!--//section-->
{% endif %}
