{% if site.data.skills %}
<section class="skills-section section">
    <div class = "panel-group" id = "accordion"></div>
  <h2 class="section-title"><i class="fa fa-rocket"></i>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Skills &amp; Proficiency</a></h2>

  <div class="skillset">
      <div id = "collapse6" class = "panel-collapse collapse in">
    {% for skill in site.data.skills %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
</div>
</section><!--//skills-section-->
{% endif %}
